html{
    height: 100%;
}

body{
    margin: 0px;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

input[type="text" i] {
    font-family: 'Roboto', sans-serif;
}

button{
    font-family: 'Roboto', sans-serif;
}

button:hover{
    cursor: pointer;
}

#app-ui{
    display: flex;
    height: 100%;
    width: 100%;
}

#side-menu{
    display: flex;
    flex-direction: column;
    width: 15%;
    min-height: 100%;
    background-color: #25282d;
    color: white;
    position: fixed;
}

.side-menu-button{
    width: 100%;
    height: 100%;
    padding-left: 1em;
    margin: 0%;
    color: white;
    text-align: start;
    background-color: #25282d;
    border: none;
}

.side-menu-button:hover{
    background-color: #555555;
    position: relative;
    bottom: 3px;
}

.side-menu-button:focus{
    outline: none;
}

#menu-title{
    display: flex;
}

#app-name{
    padding-left: 0.5em;
}

#user-status{
    padding-left: .5em;
    display: flex;
    margin-top: 1.7em;
    margin-left: 0.5em;
    margin-bottom: 1.7em;
    padding-right: 0.5em;
    font-size: 1em;
    background-color: rgb(181, 18, 231);
    border-radius: .2em;
}

#menu-options ul{
    padding-inline-start: 0%;
    margin-block-start: 0em;
}

.menu-option{
    height: 3em;
    list-style-type: none;
}

.sub-menu-option{
    width: 100%;
    height: 3em;
    padding: 0em 0em;
}

.side-menu-sub-button{
    width: 100%;
    height: 100%;
    padding-left: 3.2em;
    text-align: left;
    margin: 0%;
    color: white; 
    background-color: inherit;  
    border: none;
}
#sub-menu-authentication{
    display: none;
}

.menu-button-highlight{
    background-color: #363b41;
}
.menu-button-extra-highlight{
    background-color: #484c55;
}

.side-menu-sub-button:hover{
    background-color: #555555;
    position: relative;
    bottom: 3px;
}

.side-menu-sub-button:focus{
    outline: none;
}

.user-picture{
    height: 30px;
    width: 30px;
    margin-right: 0.5em;
    margin-top: 1em;
    border-radius: 15px;
}
#menu-user{
    padding-left: 0.75em;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: baseline;
}

#user-details{
    margin-left: auto;
    margin-right: 1em;
    background-color: inherit;
    color: white;
    border: none;
    font-size: 1em;
}

#user-details:hover{
    color: #555555;
}

#user-details:focus{
    outline: none;
}

#user-name{
    font-weight: 400;
}

#list{
    width: 85%;
    margin-left: 15%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#search-bar{
    background-color: white;
    padding: 0.5em 1.5em;
    box-shadow:10px 5px 15px 10px lightgrey ; 
    position: fixed;
    max-width: 100%;
    width: 82%;
}

#search-field{
    background-color: white;
    border: #dddddd 1px solid;
    display: flex;
    justify-content: space-between;
    border-radius: 0.2em;
}

#search-placeholder{
    padding: 0.5em 1em;
    color: gray;
    width: 100%;
}

#search-button{
    background-color: #dee6e9;
    padding: 0.25em 1.75em 0.35em 1.75em;
    margin: .2em 0.2em;
    color: black;
    border: none;
    border-radius: 0.2em;
}

#search-button:hover{
    background-color: #555555;
    color: white;
}

#user-list{
    background-color: white;
    margin: 1em 1em;
    margin-top: 5em;
    padding-left:1em;
    padding-right: 1em;
    display: none;
    border: #dddddd 1px solid;
    box-shadow: 5px 5px 20px 5px #dddddd;
}

#user-number{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#add-user-button{
    color: white;
    background-color:  rgb(181, 18, 231);
    font-size: 0.75em;
    padding: 0em 1.75em;
    margin: 1.25em 0em;
    border-radius: 0.2em;
}

#add-user-button:hover{
    background-color: #dee6e9;
}

#add-user-button:focus{
    outline: none;
}

#user-search{
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0em;
    border: #dddddd 1px solid;
}
.user-search-placeholder-text{
    width: 100%;
    font-size: 1em;
    border: none;
}

.user-search-placeholder-text:focus{
   outline:none;
}

#user-search-alt{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0em;
}

#user-search-placeholder{
    padding: 0.5em 0.5em;
    color: gray;
    width: 100%;
}

#user-search-button{
    background-color:white  ;
    padding: 0.25em 0.75em 0.35em 1.5em;
    margin: 0.2em 0.2em;
    color: black;
    border: none;
    border-radius: 0.2em;
}

#user-search-button:hover{
    background-color: #dee6e9;
    color: white;
}

#user-search-button:focus{
    outline: none;
}
#user-search-button:active{
    position: relative;
    top:1px;
}

.user-list-icon{
    height: 15px;
    width: 15px;
    padding-right: 0.5em;
}

#user-list-details{
    margin-top: 2em;
    margin-bottom: 1em;
    min-width: 100%;
    border-bottom: #dddddd 1px solid;
}
.user-list-head{
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
}

#user-list-details{
    margin-top: 2em;
    margin-bottom: 1em;
    width: 100%;
    border-bottom: gray 1px solid;
}

.user-list-head{
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
}

.user-list-item{
    display: flex;
    flex-direction: row;
    padding: 0.5em 0em;
    border-right: #dddddd 1px solid;
    border-left: #dddddd 1px solid;
    border-top: #dddddd 1px solid;
}

.list-column{
    padding-left: 1em;
}

.name{
    min-width: 20%;
    color: rgb(181, 18, 231);
}

.email{
    min-width: 20%;
}
.status{
    min-width: 10%;
}

.status-active{
    width: 60%;
    padding-left: 0.5em;
    color: rgba(5, 229, 245);
    border: rgb(5, 229, 245) 1px solid;
}

.status-active:hover{
    background-color: rgb(72, 241, 4);
}

.status-inactive{
    width: 60%;
    padding-left: 0.5em;
    color: rgba(100, 94, 94, 0.979);
    border: rgba(100, 94, 94, 0.979) 1px solid;
}

.status-inactive:hover{
    background-color: #e20505;
}

.role{
    min-width: 10%;
}

.last-login{
    min-width: 10%;
}

.permission{
    min-width: 10%;
}

.permission-valid{
    width: 70%;
    padding-left: 0.5em;
    color: black;
    font-style: bolder;
}

.permission-invalid{
    width: 70%;
    padding-left: 0.5em;
    color: rgba(100, 94, 94, 0.979);
}

.option{
    justify-content: flex-end;
    font-size: 1em;
    min-width: 10%;
    text-align: center;
}

.option.list-column{
    background-color: white;
    border: none;
    font-weight: bold ;
}


@media screen and (max-width:1300px) and (min-width:360px) {
    background:blue
}