html{
    margin-top: 2%;
    height: 90%;
}

body{
    margin: 0px;
    height: 100%;
}

#ui-mainpart{
    display: flex;
    height: 100%;
    width: 100%;
}

#side-menu{
    display: flex;
    flex-direction: column;
    width: 15%;
    min-height: 100%;
    background-color: #25282d;
    color: white;
}

#menu-title{
    display: flex;
}

#title-name{
    padding-left: 0.5em;
}

#user-status{
    padding-left: 0.5em;
    display: flex;
    margin-top: 1.7em;
    margin-left: 0.5em;
    margin-bottom: 1.7em;
    padding-right: 0.5em;
    font-size: 1em;
    background-color: #6e4bd3;
    border-radius: .2em;
}

#menu-options ul{
    padding-inline-start: 10%;
}

.menu-option{
    margin-right: 10%;
    margin-top: 10%;
    height: 3em;
    list-style-type: none;
}

#menu-user{
    padding-left: 0.75em;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-self: baseline;
}

#user-details{
    margin-left: auto;
    margin-right: 1em;
}

#header-bar{
    width: 85%;
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
}

#search-bar{
    background-color: white;
    padding: 0.5em 1.5em;
    box-shadow: 5px 10px 100px black ;
}

#search-field{
    background-color: white;
    border: gray 1px solid;
    display: flex;
    justify-content: space-between;
    border-radius: 0.2em;
}

#placeholder-search{
    padding: 0.5em 1em;
    width: 100%;
    font-size: medium;
    border: none;
}

#search-button{
    background-color: #dee6e9;
    padding: 0.25em 1.75em 0.35em 1.75em;
    margin: .2em 0.2em;
    color: black;
    border: none;
    border-radius: 0.2em;
}

#search-button:focus{
}

#user-list{
    background-color: white;
    margin: 1em 1em;
    overflow-y: auto;
}

#user-number{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:1em;
    padding-right: 1em;
}

#add-user-button{
    color: white;
    background-color: #6629ea;
    font-size: 0.75em;
    padding: 0em 1.75em;
    margin: 1.25em 0em;
    border-radius: 0.2em;
}

#user-search{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0em;
    border: gray 1px solid;
}

#placeholder-user-search{
    width: 90%;
}

#placeholder-user-search-text{
    padding: 0.5em 1em;
    width: 100%;
    font-size: medium;
    border: none;
}

#placeholder-user-search-text:focus{
    outline:none;
 } 